{{ define "main" }}
<ol class="leaderboard">
{{- range $i, $p := sort .Site.RegularPages "Params.start_date" "asc" }}
<li class="entry">
<span class="rank">{{ if eq $i 0 }}<span class="medal">🥇</span>{{ else if eq $i 1 }}<span class="medal">🥈</span>{{ else if eq $i 2 }}<span class="medal">🥉</span>{{ end }}{{ add $i 1 }}.</span>
<div class="entry-body">
<h2 class="address"><a href="{{ $p.RelPermalink }}">{{ $p.Title }}</a></h2>
{{- with $p.Params.postcode }}
<p class="locality">{{ . }} {{ i18n "city" }}</p>
{{- end }}
<p class="age" data-start-date="{{ $p.Params.start_date }}">{{ i18n "observed_since" }} {{ $p.Params.start_date }}.</p>
{{- with $p.Params.note }}
<p class="note">{{ . }}</p>
{{- end }}
{{- with $p.Params.photo }}
<img class="photo" src="/photos/{{ . }}" alt="{{ $p.Title }}" loading="lazy" width="400">
{{- end }}
</div>
</li>
{{- end }}
</ol>
{{ end }}
